<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
    <div class="container">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/logo.png" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">HOMW <span class="sr-only">(current)</span></a>
      <a target="_blank" class="nav-item nav-link" href="http://meetup.com/es-ES/NetBaires/">MEETUP</a>
      <a target="_blank" class="nav-item nav-link" href="http://slack.net-baires.com.ar/">SUMATE AL SLACK</a>
    </div>
  </div>
</div>
</nav>

<div class="container-flux" >
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="container justify-content-center">

    <p class="text-center"> Follow Us </p>

    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" href="https://www.facebook.com/groups/1800251183544893/">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" href="https://github.com/Net-Baires">
              <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" href="https://twitter.com/NetBaires">
              <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand" target="_blank" href="http://slack.net-baires.com.ar/">
              <i class="fa fa-slack" aria-hidden="true"></i>
          </a>
        </li>
    </ul>
  </div>
</div>