<div class="clients white-bg">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">SPONSORS</h2>
            <div class="colored-line"></div>
            <!-- <div class="sub-heading">El equipo</div> -->
        </div>
        <ul class="client-logos" >
            <li *ngFor="let sponsor of sponsors">
                <a target="_blank" href="{{sponsor.URL}}">
                    <img src="{{sponsor.photoURL}}" alt="{{sponsor.name}}">
                </a>
            </li>
        </ul>
    </div>
</div>